/** Color Scheme with #333333 #FF9900 #FFFFFF #666666 **/

div {
  text-align: center;
  color: #666666;

}

h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #666666;
}

#campaignbtn {
  color: #808080;

}



